
.game-contain {
  display: flex;
  justify-content: center;
  height: fit-content;
}
.game-page {
  margin: 10px;
  border-radius: 20px;
  height: fit-content;
  background: #020617;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal centering */

}

.game-header {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
  padding: 12px 20px;
  background: #0e0b0b;
  border-bottom: 1px solid #1e293b;
}

.langs button {
  background: transparent;
  color: #94b8a7;
  border: none;
  margin-right: 12px;
  cursor: pointer;
  font-weight: 600;
}

.langs .active {
  color: white;
  border-bottom: 2px solid #38bdf8;
}

.timer {
  font-weight: bold;
}

.code-container {
  flex: 1;
  padding: 24px;
  outline: none;
  overflow: auto;

  display: block;          /* 👈 NOT flex */
  text-align: left;        /* 👈 force left */
}

.code-wrapper {
  position: relative;
}

.code {
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  line-height: 1.6;
  white-space: pre;
  margin: 0;
}


/* foreground */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.code-wrapper {
  position: relative;   /* 🔴 THIS is the key line */
}

.code.syntax {
  position: relative;
  z-index: 1;
}

.code.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  pointer-events: none; /* allow typing through */
}


.char {
  visibility: hidden;
}

.char.correct,
.char.wrong,
.char.caret {
  visibility: visible;
}

.correct {
  color: #22c55e;
}

.wrong {
  color: #ef4444;
}

.caret {
  background: #7ec8e3;
}



.cursor {
  position: absolute;
  width: 2px;
  height: 1.6em;
  background: #38bdf8;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.lang-button {
  display: inline-flex;
  align-items: center;      /* 🔑 vertical alignment */
  gap: 8px;
  
}

.lang-icon svg {
  display: block;           /* removes baseline weirdness */
}

.lang-text {
  text-shadow:
    -0.5px -0.5px 0 #434549,
     0.5px -0.5px 0 #4a4c53,
    -0.5px  0.5px 0 #605858,
     0.5px  0.5px 0 #4e4848;
}

.char.forced-wrong {
  color: #f87171;
  background: rgba(248, 113, 113, 0.15);
}

.char.caret.forced-wrong {
  animation: blink-error 1s infinite;
}

@keyframes blink-error {
  0%, 100% { background: rgba(248, 113, 113, 0.2); }
  50% { background: rgba(248, 113, 113, 0.4); }
}
