.navbar {
  position: sticky;
  top: 0;
  z-index: 100;

  height: 56px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #1e293b;
  width: 100%;
}

/* Brand */
.navbar-brand {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 20px;
  font-family: "JetBrains Mono", monospace;

  display: inline-flex;
  align-items: center;
}

/* Text glow */
.brand-text {
  color: #38bdf8;
  text-shadow:
    0 0 6px rgba(56,189,248,0.8),
    0 0 14px rgba(56,189,248,0.6),
    0 0 24px rgba(56,189,248,0.4);
}

.navbar-brand span {
  color: #3eb388;
}

/* Controls */
.navbar-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-select {
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  padding: 6px 10px;
  border-radius: 6px;
  font-family: inherit;
  cursor: pointer;
}

.navbar-select:focus {
  outline: none;
  border-color: #38bdf8;
}

.navbar-play {
  background: #38bdf8;
  color: #020617;
  border: none;
  padding: 6px 24px;
  margin: 0px 30px 0px 0px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

.navbar-play:hover {
  background: #7dd3fc;
}
